name: Deploy Private GitHub repository to cPanel
on:
  push:
    branches:
      - Master-Branch
jobs:
  FTP-Deploy-Action:
    name: FTP-Deploy-Action
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2.1.0
      with:
        fetch-depth: 2
    - name: Change directory to htdocs
      run: cd htdocs
    - name: FTP-Deploy-Action
      uses: SamKirkland/FTP-Deploy-Action@4.3.0
      with:
        server: ${{ secrets.host }}
        username: ${{ secrets.user }}
        password: ${{ secrets.password }}
